@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	background-color: #662;
}
h1 {
	color: blue;
}

body {
	margin-left: 40px;
}

div#leftPane {
	width: 400px;
	height: 1050px;
}
div#middlePane {
	width: 1000px;
	height: 1050px;
}
div#rightPane {
	width: 400px;
	height: 1050px;
}
div#leftPane, div#middlePane, div#rightPane {
	float: left;
	background-color: inherit;
	color: #222;
}
div#fullPaneAllowedActions {
	width: 400px;
	height: 550px;
}
div.halfPaneAllowedActions {
	width: 200px;
	height: 550px;
	float: left;
	text-align: center;
}
div#buildingCostsTitle {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0.2em;
	color: inherit;
	width: 400px;
	height: 40px;
	padding-top: 5px;
	text-align: center;
	background-color: inherit;
}
div.cardLetter {
	font-size: 28px;
	font-weight: 600;
	color: black;
	text-align: center;
	padding-top: .5em;
}
div.bcTitle {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.2em;
	color: inherit;
	width: 400px;
	height: 30px;
	padding-top: 5px;
	//text-align: center;
	margin-left: 15px;
	background-color: inherit;
}
div#victoryPointsTitle {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0.2em;
	color: inherit;
	width: 400px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	background-color: inherit;
}
div.resourceTitle, div#allowedActionsTitle {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: inherit;
	width: 400px;
	height: 40px;
	padding-top: 5px;
	text-align: center;
	background-color: inherit;
}
div#currentTurnTitle {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: #00f;
	width: 850px;
	height: 75px;
	padding-top: 0;
	text-align: center;
	background-color: black;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin: 0 0 0 4em;
}
div#myLine {
	width: 400px;
	height: 2px;
	background-color: #331;
}
div#resourceCards, div#buildCards {
	width: 400px;
	height: 80px;
	background-color: inherit;
}
div.powerCardsImage, div.yourCardsImage, div.smallResourceImage {
	width: 55px;
	height: 66px;
	float: left;
	border-radius: 10px;
	border: 1px solid #222;
}
div.powerCardsImage, div.yourCardsImage {
	margin: 10px 12px 0 12px;
}
div.smallResourceImage {
	margin: 4px 12px 8px 10px;
}
div.resourceImage1 {
	background-image: url('/img/wheat.jpg');
	background-repeat: repeat;
}
div.resourceImage2 {
	background-image: url('/img/grass.jpg');
	background-repeat: repeat;
}
div.resourceImage3 {
	background-image: url('/img/rubies.jpg');
	background-repeat: repeat;
}
div.resourceImage4 {
	background-image: url('/img/cash.jpg');
	background-repeat: repeat;
}
div.resourceImage5 {
	background-image: url('/img/lava.jpg');
	background-repeat: repeat;
}
div#power1 {
	background-color: #00f;
}
div#power2 {
	background-color: #c00;
}
div#power3 {
	background-color: #0c0;
}
div#power4 {
	background-color: #cc0;
}
div#power5 {
	background-color: #c0c;
}

div#numResourceCards {
	width: 400px;
	height: 50px;
	background-color: inherit;
}

div#middleTop {
	width: 1000px;
	height: 75px;
	background-color: inherit;
}
div#boardSpace {
	width: 1000px;
	height: 900px;
	background-color: inherit;
}
div#middleBottom {
	width: 1000px;
	height: 75px;
	background-color: inherit;
	text-align:center;
}
div.clearBoth {
	clear: both;
}
button.myButton {
	margin: 10px 0 10px 0;
	font-size: large;
	width: 9em;
}
button.myButtonLg {
	margin: 10px 0 10px 0;
	font-size: large;
	width: 9em;
	height: 3em;
}
button.btnRed {
	color: black;
	background-color: #a00;	
}
button.btnBlack {
	color: red;
	background-color: black;	
}
button.btnGray {
	color: #888;
	background-color: #006;	
}
div.ff1 {
	float: left;
	text-align: center;
	margin-left: 5%;
	width: 90%;
	background-color: inherit;
	margin-top: 2%;
	//opacity: 1.0;
}

div.ff2 {
	float: left;
	margin-left: 2%;
}
#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8, #f9, #f10, #f11, #f12, #f13, #f14, #f15, #f16 {
	font-size: calc(1vw + 1vh);
	width: 4%;
	border-radius: 8px;
}
#f1, #f3, #f5, #f7, #f11, #f13, #f15 {
	color: #b00;
	//border: 2px solid #b00;
	background-color: #000;
}
#f2, #f4, #f6, #f8, #f10, #f14, #f16 {
	color: black;
	//border: 2px solid #000;
	background-color: #b00;
}

#f9, #f12 {
	color: 0900;
	background-color: inherit;
	border: none;
}

#f1, #f3, #f5, #f7, #f9, #f11, #f13, #f15 {
	transform: rotate(10deg);
} 

#f2, #f4, #f6, #f8, #f10, #f12, #f14, #f16 {
	transform: rotate(-10deg);
} 
div#playerPointsGroup1, div#playerPointsGroup2, div#playerPointsGroup3, div#playerPointsGroup4 {
	width: 190px;
	float: left;
	height: 95px;
	box-sizing: border-box;
} 
div#numVictoryPoints1, div#numVictoryPoints2, div#numVictoryPoints3, div#numVictoryPoints4 {
	width: 120px;
	height: 55px;
	background-color: black;
	font-size: 40px;
	text-align: center;
	margin: 0 40px 0 40px;
	border-radius: 20px;
} 
div#numVictoryPoints1 {
	color: #00f;
}
div#numVictoryPoints2 {
	color: #c00;
}
div#numVictoryPoints3 {
	color: #0c0;
}
div#numVictoryPoints4 {
	color: #cc0;
}

div#pp1Name, div#pp2Name, div#pp3Name, div#pp4Name {
	width: 186px;
	height: 40px;
	background-color: inherit;
	color: inherit;
	font-size: 28px;
	text-align: center;
}

div#numLongestRoad, div#numForts, div#numCastles {
	height: 55px;
	background-color: inherit;
	width: 100%;
  	text-align: center;
}
div.numLongestRoadNumber, div.numFortsNumber, div.numCastlesNumber, div.totalAllCardsNumber, div.numYourResourceCardsNumber, div.numPowerCardsNumber {
	font-size: 32px;
	font-weight: 600;
	width: 60px;
	height: 40px;
	background-color: black;
	border-radius: 8px;
}
div.numLongestRoadNumber, div.numFortsNumber, div.numCastlesNumber, div.totalAllCardsNumber {
	margin: 5px 10px 0 10px;
	display: inline-block;
}
div.numYourResourceCardsNumber, div.numPowerCardsNumber {
	text-align: center;
	float: left;
	margin: 5px 7px 5px 11px;
	color: #00f;
}

div#numLongestRoad1 {
	color: #00f;
}
div#numLongestRoad2 {
	color: #c00;
}
div#numLongestRoad3 {
	color: #0c0;
}
div#numLongestRoad4 {
	color: #cc0;
}
 
div#numForts1, div#numCastles1, div#totalAllCards1 {
	color: #00f;
}
div#numForts2, div#numCastles2, div#totalAllCards2 {
	color: #c00;
}
div#numForts3, div#numCastles3, div#totalAllCards3 {
	color: #0c0;
}
div#numForts4, div#numCastles4, div#totalAllCards4 {
	color: #cc0;
}

button.myButtonLong {
	margin: 20px 25% 0 25%;
	font-size: 20px;
	background-color: black;
	color: red;
	width: 50%;
	height: 2em;
	text-align: center;
	border: 1px solid red;
}
 
 
