@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	background-color: gray;
}
h1 {
	color: blue;
	//margin-left: .5em;
}
div#leftPane {
	width: 400px;
	height: 1050px;
	float: left;
	background-color: #008;
}
div#middlePane {
	width: 1000px;
	height: 1050px;
	float: left;
	background-color: #800;;
}
div#middleTop {
	width: 1000px;
	height: 75px;
	background-color: #773;;
}
div#boardSpace {
	width: 1000px;
	height: 900px;
	background-color: #773;
}
div#middleBottom {
	width: 1000px;
	height: 75px;
	background-color: #773;
	text-align:center;
}
div#rightPane {
	width: 400px;
	height: 1050px;
	float: left;
	background-color: #080;
}
div.clearBoth {
	clear: both;
}
button.myButton {
	margin: 15px 10px 10px 10px;
	font-size: large;
}
button.btnRed {
	color: black;
	background-color: #a00;	
}
button.btnBlack {
	color: red;
	background-color: black;	
}
div.ff1 {
	float: left;
	text-align: center;
	margin-left: 5%;
	width: 90%;
	background-color: inherit;
	margin-top: 2%;
	opacity: 0.75;
}

div.ff2 {
	float: left;
	margin-left: 2%;
}
#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8, #f9, #f10, #f11, #f12, #f13, #f14, #f15, #f16 {
	font-size: calc(1vw + 1vh);
	width: 4%;
	border-radius: 8px;
}
#f1, #f3, #f5, #f7, #f11, #f13, #f15 {
	color: #b00;
	background-color: black;
	}
#f2, #f4, #f6, #f8, #f10, #f14, #f16 {
	color: black;
	background-color: #b00;
}

#f9, #f12 {
	color: 0900;
	background-color: inherit;
}

#f1, #f3, #f5, #f7, #f9, #f11, #f13, #f15 {
	transform: rotate(10deg);
} 

#f2, #f4, #f6, #f8, #f10, #f12, #f14, #f16 {
	transform: rotate(-10deg);
}
 
