<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Monsters of Toba</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
	<link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<!-- 
			<block th:each="row:${#numbers.sequence(0,15)}">
				<block th:each="col:${#numbers.sequence(0,14)}">
					<span th:text="${vertices[col][row]}"></span>
				</block>
				<br>				
			</block>			
-->
<div id="gameSpace">
	<canvas id="canvasHex" width="1910" height="1070" style="background-color: #773;">Your browser does not support the HTML5 canvas tag.</canvas>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/toba.js"></script>
</body>
</html>


