<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Monsters of Toba</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
	<link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<!-- 
			<block th:each="row:${#numbers.sequence(0,15)}">
				<block th:each="col:${#numbers.sequence(0,14)}">
					<span th:text="${vertices[col][row]}"></span>
				</block>
				<br>				
			</block>			
-->
<div id="gameSpace">
	<div id="leftPane">
		<div id="buildingCostsTitle">Building Costs</div>
		<div id="buildingCosts">
			<div class="bcTitle">Wall</div>
				<div id="buildCards">
					<div id="smResource1"></div>
					<div id="smResource2"></div>
				</div>
			<div class="bcTitle">Fort</div>
				<div id="buildCards">
					<div id="smResource1"></div>
					<div id="smResource2"></div>
					<div id="smResource3"></div>
					<div id="smResource4"></div>
				</div>
			<div class="bcTitle">Castle</div>
				<div id="buildCards">
					<div id="smResource3"></div>
					<div id="smResource3"></div>
					<div id="smResource5"></div>
					<div id="smResource5"></div>
					<div id="smResource5"></div>
				</div>
			<div class="bcTitle">Power Card</div>
				<div id="buildCards">
					<div id="smResource3"></div>
					<div id="smResource4"></div>
					<div id="smResource5"></div>
				</div>
		</div>
		<div id="myLine"></div>
		<div id="resourceTitle">Your Cards</div>
		<div id="resourceCards">
			<div id="resource1"></div>
			<div id="resource2"></div>
			<div id="resource3"></div>
			<div id="resource4"></div>
			<div id="resource5"></div>
		</div>
		<div id="numResourceCards">
			<div id="numResourceCards1">0</div>
			<div id="numResourceCards2">0</div>
			<div id="numResourceCards3">0</div>
			<div id="numResourceCards4">0</div>
			<div id="numResourceCards5">0</div>
		</div>
		<div id="myLine"></div>
	</div>
	
	<div id="middlePane">
		<div id="middleTop">
			<div class="ff1">
				<div class="ff2" id="f1">M</div>
				<div class="ff2" id="f2">O</div>
				<div class="ff2" id="f3">N</div>
				<div class="ff2" id="f4">S</div>
				<div class="ff2" id="f5">T</div>
				<div class="ff2" id="f6">E</div>
				<div class="ff2" id="f7">R</div>
				<div class="ff2" id="f8">S</div>
				<div class="ff2" id="f9">&nbsp;</div>
				<div class="ff2" id="f10">O</div>
				<div class="ff2" id="f11">F</div>
				<div class="ff2" id="f12">&nbsp;</div>
				<div class="ff2" id="f13">T</div>
				<div class="ff2" id="f14">O</div>
				<div class="ff2" id="f15">B</div>
				<div class="ff2" id="f16">A</div>
			</div>
		
		</div>
		<div id="boardSpace">
			<canvas id="canvasHex" width="990" height="900">Your browser does not support the HTML5 canvas tag.</canvas>
		</div>
		<div id="middleBottom">
			<button class="myButton btnBlack btn btn-default">Fullscreen</button>
			<button class="myButton btnBlack btn btn-default">Instructions</button>
			<button class="myButton btnBlack btn btn-default">Setup</button>
			<button class="myButton btnBlack btn btn-default">New Game</button>
			<button class="myButton btnBlack btn btn-default">Step</button>
			<button class="myButton btnBlack btn btn-default">Pause</button>
			<button class="myButton btnBlack btn btn-default">Save</button>
			<button class="myButton btnBlack btn btn-default">Load</button>
		</div>
	</div>
	
	<div id="rightPane">
		<div id="victoryPointsTitle">Victory Points</div>
		<div id="playerPoints">
			<div id="playerPointsGroup1">
				<div id="pp1Amount">0</div>
				<div id="pp1Name">Tom</div>
			</div>
			<div id="playerPointsGroup2">
				<div id="pp2Amount">0</div>
				<div id="pp3Name">Atari 800</div>
			</div>
			<div id="playerPointsGroup3">
				<div id="pp3Amount">0</div>
				<div id="pp3Name">Skynet</div>
			</div>
			<div id="playerPointsGroup4">
				<div id="pp4Amount">0</div>
				<div id="pp4Name">Hal 9000</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/toba.js"></script>
</body>
</html>


